notifications:
  email: false
language: generic
branches:
  only:
    - master
before_install:
  - openssl aes-256-cbc -K $encrypted_5af6fe069ffb_key -iv $encrypted_5af6fe069ffb_iv -in rclone.conf.enc -out rclone.conf -d
install:
  - sudo apt-get install -y curl unzip python python-pip
  - wget https://github.com/gohugoio/hugo/releases/download/v0.37.1/hugo_0.37.1_Linux-64bit.deb
  - sudo dpkg -i *.deb
  - sudo apt-get install -y curl
  - curl https://rclone.org/install.sh | sudo bash
script:
  - chmod +x deploy.sh
  - ./deploy.sh
